
    <div>
        titre : {{film.Title}}
    </div>
    <div>

        year: {{film.Year}}
    </div>
    <div>
        <img [src]="chemin"/>
    </div>

    <div>
        date de sortie: {{film.Released}}
    </div>
    <div>
        duree:{{film.Runtime}}
    </div>
    <div>
        genre:{{film.Genre}}
    </div>
    <div>
        Director:{{film.Director}}
    </div>
    <div>
        scenariste:{{film.Writer}}
    </div>
    <div>
        acteurs:{{film.Actors}}
    </div>
    <div>
        scenario: {{film.Plot}}
    </div>
    <div>
        langue:{{film.Language}}
    </div>
    <div>
        pays:{{film.Country}}
    </div>
    <div>
        type:{{film.Type}}
    </div>
    <div>
        box office: {{film.BoxOffice}}
    </div>

    <button (click)="goback()">
        retour
    </button>
    